body {font-family: sans-serif; background-color: black;}
  
.heart1{ content: ""; position: absolute; height: 160px;
    width: 100px; background:#d16ba5; border-radius: 200px 200px 0 0;
    transform: rotate(45deg); margin-left: 90px; z-index: -4;}

.square1{content:""; position: relative; height: 20px;
        width: 100px; background-color:black; z-index: -3;
        margin-top: 150px;}

.heart2{ content: ""; position: absolute; height: 160px;
        width: 100px; background: #d16ba5; border-radius: 200px 200px 0 0;
        transform: rotate(-45deg); margin-left: 60px; z-index: -2;}

.square2{ content:""; position: relative; height: 20px; width: 100px;
        background-color:black; z-index: -1 ;margin-top: 151px;}
