body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }

  h1{
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-size: 40px;
    margin: 10px 10px;
    padding: 5px 5px;
  }
  .pointersInternal{
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;

    border-color: #2E94E3;
    border-style: solid;
    margin-top: 100px;
    margin-left: 50px;
  }

.pointersExternal{
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;

  border-color: lightcoral;
  border-style: solid;
  margin-top: 100px;
  margin-left: 50px;
}

  .picture{
    height: 220px;
    border-radius: 120px;
    margin-left: 10px;
    border-color: green;
    border-style: solid;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button1{
    background-color: #2E94E3;
    color: white;
    font-family: "Segoe UI", sans-serif;
    padding: 20px 40px;
    font-size: 40px;
    border-radius: 100px;
    margin: 40px;
}

.button2{
    background-color: lightcoral;
    color: white;
    font-family: "Segoe UI", sans-serif;
    padding: 20px 40px;
    font-size: 40px;
    border-radius: 100px;
    margin: 40px 40px;
    
}