body {
    display: flex;
    background-color: orange;
    justify-content: center;
    margin-top: 250px;
}

.box{
    position: relative;
    background-color:red;
    height: 150px;
    width: 600px;
    z-index: -2;

}

.display{
    text-align: center;
    font-size: 40px;
    font-family: Arial;
    color: white;
    text-justify: center;
    position: relative;
    background-color:pink;
    height: 100px;
    width: 500px;
    margin-top: 25px;
    margin-left: 50px;;
    z-index: -1;
}